body {
  margin: 0;

  font-family: Arial, sans-serif;

  transition: 0.3s;
}

/* DARK MODE */

.dark-theme {
  --bg-main: #081229;

  --bg-card: #16213e;

  --text-main: white;

  --text-secondary: rgba(255,255,255,0.7);

  background: var(--bg-main);

  color: var(--text-main);

  min-height: 100vh;
}

/* LIGHT MODE */

.light-theme {
  --bg-main: #f3f7ff;

  --bg-card: white;

  --text-main: #111827;

  --text-secondary: #4b5563;

  background: var(--bg-main);

  color: var(--text-main);

  min-height: 100vh;
}

/* CUSTOM SCROLLBAR */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--bg-main);
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(
    180deg,
    #2563eb,
    #3b82f6
  );

  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2563eb;
}

* {
  transition:
    background 0.3s ease,
    color 0.3s ease,
    border 0.3s ease;
}